@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

:root {
  /* Brand Colors */
  --background: #FFFFFF;
  /* Clean White */
  --foreground: #121212;
  /* Rich Black */

  --primary: #CB9106;
  /* Yellow Ochre */
  --secondary: #121212;
  /* Rich Black */
  --accent: #FFFFFF;
  /* White */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}